node_modules
dist
lib
es
coverage
examples/shopping-list-advanced/native/native-chunk*
website
packages/core/zeromq/optional

packages/core/client/**/*.js
packages/core/client/**/*.js.map
packages/core/client/**/*.mjs
packages/core/client/**/*.mjs.map
packages/core/client/**/*.d.ts

packages/core/react-hooks/**/*.js
packages/core/react-hooks/**/*.js.map
packages/core/react-hooks/**/*.mjs
packages/core/react-hooks/**/*.mjs.map
packages/core/react-hooks/**/*.d.ts

examples/with-angular/client/**/*.js
examples/with-angular/client/**/*.js.map
examples/with-angular/client/**/*.mjs
examples/with-angular/client/**/*.mjs.map
examples/with-angular/client/**/*.d.ts

packages/**/types/**/*.d.ts
