node_modules
dist
lib
es
coverage
examples/shopping-list-advanced/native/native-chunk*
website
packages/core/resolve-zeromq/optional

packages/core/resolve-client/**/*.js
packages/core/resolve-client/**/*.js.map
packages/core/resolve-client/**/*.mjs
packages/core/resolve-client/**/*.mjs.map
packages/core/resolve-client/**/*.d.ts

packages/core/resolve-react-hooks/**/*.js
packages/core/resolve-react-hooks/**/*.js.map
packages/core/resolve-react-hooks/**/*.mjs
packages/core/resolve-react-hooks/**/*.mjs.map
packages/core/resolve-react-hooks/**/*.d.ts

examples/with-angular/client/**/*.js
examples/with-angular/client/**/*.js.map
examples/with-angular/client/**/*.mjs
examples/with-angular/client/**/*.mjs.map
examples/with-angular/client/**/*.d.ts

packages/**/types/**/*.d.ts
