packages/**/es
packages/**/lib
packages/**/dist
examples/**/dist
examples/**/dist-replica
examples/**/lib
examples/shopping-list-advanced/native/resolve/
packages/core/zeromq/optional
**/*.d.ts
packages/core/react-hooks/src/index.ts
website/**
