.chart a {
  text-decoration: none;
}

.box-interactive:hover {
  cursor: pointer;
}

.box-solid path {
  fill: rgb(57, 73, 171);
}

.box-solid:hover path {
  fill: rgb(101, 119, 236);
  transition: fill 100ms ease-in 50ms;
}

.box-solid[data-selected='true'] path {
  fill: green;
}

.box-framed path {
  fill: rgb(218, 225, 246);
  stroke: rgb(57, 73, 171);
}

.box-framed:hover path {
  fill: rgb(183, 198, 243);
  transition: fill 100ms ease-in 50ms;
}

.box-framed[data-selected='true'] path {
  fill: lightgreen;
  stroke: green;
}

.box-framed[data-selected='true'] text {
  fill: green;
}

.box-child-framed path {
  fill: rgb(218, 225, 246);
}

.box-child-framed:hover path {
  fill: rgb(183, 198, 243);
  transition: fill 100ms ease-in 50ms;
}

.box-child-framed[data-selected='true'] path {
  fill: green;
}

.box-child-framed[data-selected='true'] text {
  fill: white;
}

.box-framed .box-header {
  fill: rgb(57, 73, 171);
  stroke-width: 0px;
}

.box-framed:hover .box-header {
  fill: rgb(57, 73, 171);
}

.box-framed[data-selected='true'] .box-header {
  fill: green;
  stroke-width: 0px;
}

.box-framed .box-header-text {
  fill: white;
}

.box-framed[data-selected='true'] .box-header-text {
  fill: white;
}

.box-framed .box-header-text:hover {
  cursor: pointer;
}

.detail {
  padding: 20px;
  background-color: rgb(218, 225, 246);
  border-radius: 10px;
}
