html
    head
        title Demo
        link(rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet' href='http://getbootstrap.com/examples/sticky-footer/sticky-footer.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    body
