/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.fixedHeaderContainer {
    background: #3949ab;
}

.homeContainer {
    background-color: #3949ab;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.projectTitle {
    color: #ffffff;
}

.homeContainer .homeWrapper  {
    padding: 106px 10px;
}

.button {
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    line-height: 46px;
    width: 190px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.button:hover {
    background: #fff;
    color: #34449F;
}

.projectTitle > small {
    line-height: 1.2em;
    font-weight: bold;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper {
    padding: 5px 23px;
}

.promoSection .promoRow {
    padding: 0px;
}

.imageAlignTop .blockImage {
    max-width: inherit;
}

.nav-footer {
    background-color: #262a46;
}