.content-wrapper {
  max-width: 580px;
  margin: 0 auto;
  padding: 10px;
}

.notes {
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.note {
  margin-bottom: 10px;
}

.note-footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note-footer span {
  margin-right: 4px;
}
.note-last-modified {
  flex-grow: 1;
}
