.example-wrapper {
  max-width: 580px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.example-login-input {
  margin-right: 5px;
  min-width: 74%;
}

.example-login-wrapper {
  border-radius: 5px;
  border: #c9c9c9 1px solid;
  padding: 15px;
  min-height: 130px;
}

.example-login-label {
  margin-top: 10px;
}

.example-login-button {
  float: right;
}
