/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.destroy {
	display: none;
	position: absolute;
	top: 5px;
  border-width: 0;
  background-color: #fff;
	right: 10px;
	bottom: 0;
	margin: auto 0;
	font-size: 20px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.destroy:hover {
	color: #af5b5e;
}

.destroy:after {
	content: '×';
}

li .destroy {
	display: block;
}

li:hover .destroy {
  background-color: #eeeeee;
	display: block;
}

li.active .destroy {
  background-color: #428bca;
	display: block;
}

li.active:hover .destroy {
  background-color: #428bca;
	display: block;
}
