include includes/header.pug
.container
    .page-header
        h1 CardList

        ul.list-group
            each item in items
                li.list-group-item
                    .row
                        .col-xs-8
                            a(href=item.aggregateId)= item.name
                        .col-xs-4.text-right
                            form(method='POST' action='/command')
                                input(name='commandName' value='remove' type='hidden')
                                input(name='aggregateType' value='todocard' type='hidden')
                                input(name='aggregateId' value=item.aggregateId type='hidden')
                                button(style='background: none; border: none;color: darkred')
                                    i.fa.fa-trash

        form(method='POST' action='/command')
            input(name='commandName' value='create' type='hidden')
            input(name='aggregateType' value='todocard' type='hidden')
            .input-group
                input.form-control(name='name')
                span.input-group-btn
                    button.btn.btn-default Add

include includes/footer.pug

