body {
  background-color: #fff;
  margin: 0;
}
form {
  margin: 0;
}
img {
  vertical-align: text-bottom;
}
pre {
  white-space: pre-wrap;
}
a {
  text-decoration: none;
  color: inherit;
}
input,textarea {
  width: 100%;
}