.content-wrapper {
  max-width: 580px;
  margin: 0 auto;
  padding: 10px;
}

.entities {
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.entity {
  margin-bottom: 10px;
}

.entity-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.entities span {
  margin-right: 4px;
}
.entity-name {
  flex-grow: 1;
}
.entity-items {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entity-items-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entity-items-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.entity-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
