name: Create-resolve-app testing (PR master)

on:
  pull_request:
    branches:
      - master*
  push:
    branches:
      - fix/update-dependencies

jobs:
  create-resolve-app-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2-beta
        with:
          node-version: '12'

      - name: Install
        run: |
          yarn install --frozen-lockfile
          yarn build-packages
          npm install pm2 -g
          pm2 start ./internal/local-registry/bin/index.js --name local-registry

      - name: Tutorial E2E test
        env:
          RESOLVE_E2E_TESTS_BROWSER: chrome
          RESOLVE_E2E_TESTS_HEADLESS_MODE: true
        run: yarn test:e2e:tutorial

      - name: Examples E2E test
        env:
          RESOLVE_E2E_TESTS_BROWSER: chrome
          RESOLVE_E2E_TESTS_HEADLESS_MODE: true
        run: yarn test:cra -c ${{ github.sha }} --local-registry
