name: master (push)

on:
  push:
    branches:
      - master

jobs:
  release:
    if: startsWith(github.event.head_commit.message, '<auto>') != true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '14'

      - name: Build packages
        run: |
          yarn install --frozen-lockfile

      - uses: reimagined/github-actions/publish@v1
        with:
          registry: npm
          token: ${{ secrets.NPM_RESOLVEJS_TOKEN }}
          version: source
          tag: latest
          unpublish: false

      - name: Generate release changelog
        uses: reimagined/github-actions/generate-changelog@v1
        with:
          push_event: ${{ toJSON(github.event) }}
          token: ${{ secrets.RESOLVE_BOT_PAT }}
          upcoming: false
          release_tag: ${{ env.git_release_tag }}
          generator_version: '1.16.2'

      - uses: reimagined/github-actions/git-release@v1
        id: git_release
        with:
          push_event: ${{ toJSON(github.event) }}
          commit: ${{ github.sha }}
          token: ${{ secrets.RESOLVE_BOT_PAT }}
          ssh_private_key: ${{ secrets.RESOLVE_BOT_SSH_PRIVATE_KEY }}
          release_branch: master
          development_branch: dev
